---
title: "Data Cleaning"
format: html
---

In [1]:
import requests
import json
import re
import pandas as pd

I clean all the data here so I can begin to do analysis and try to build some useful models. I'll start by reading in a csv, selecting some columns, and changing the column names.

In [4]:
economic2022=pd.read_csv('./data/2022DP05.csv')

In [7]:
economic2022=economic2022.reset_index(drop=True)

In [11]:
economic2022

,0,1,2,3,4,5,6,7,8,9,...,721,722,723,724,725,726,727,728,729,730
0,DP05_0001E,DP05_0001EA,DP05_0001M,DP05_0001MA,DP05_0001PE,DP05_0001PEA,DP05_0001PM,DP05_0001PMA,DP05_0002E,DP05_0002EA,...,DP05_0091EA,DP05_0091M,DP05_0091MA,DP05_0091PE,DP05_0091PEA,DP05_0091PM,DP05_0091PMA,GEO_ID,NAME,state
1,5074296,NaN,-555555555,*****,5074296,NaN,-888888888,(X),2461248,NaN,...,NaN,4729,NaN,52.4,NaN,0.1,NaN,0400000US01,Alabama,01
2,733583,NaN,-555555555,*****,733583,NaN,-888888888,(X),385667,NaN,...,NaN,2046,NaN,46.8,NaN,0.3,NaN,0400000US02,Alaska,02
3,7359197,NaN,-555555555,*****,7359197,NaN,-888888888,(X),3678381,NaN,...,NaN,8862,NaN,50.4,NaN,0.1,NaN,0400000US04,Arizona,04
4,3045637,NaN,-555555555,*****,3045637,NaN,-888888888,(X),1504488,NaN,...,NaN,3663,NaN,51.3,NaN,0.1,NaN,0400000US05,Arkansas,05
5,39029342,NaN,-555555555,*****,39029342,NaN,-888888888,(X),19536425,NaN,...,NaN,28487,NaN,50.6,NaN,0.1,NaN,0400000US06,California,06
6,5839926,NaN,-555555555,*****,5839926,NaN,-888888888,(X),2960896,NaN,...,NaN,7496,NaN,49.4,NaN,0.1,NaN,0400000US08,Colorado,08
7,3626205,NaN,-555555555,*****,3626205,NaN,-888888888,(X),1776689,NaN,...,NaN,6082,NaN,51.8,NaN,0.2,NaN,0400000US09,Connecticut,09
8,1018396,NaN,-555555555,*****,1018396,NaN,-888888888,(X),494657,NaN,...,NaN,2391,NaN,52.3,NaN,0.2,NaN,0400000US10,Delaware,10
9,671803,NaN,-555555555,*****,671803,NaN,-888888888,(X),319763,NaN,...,NaN,2902,NaN,53.5,NaN,0.4,NaN,0400000US11,District of Columbia,11
10,22244823,NaN,-555555555,*****,22244823,NaN,-888888888,(X),10953468,NaN,...,NaN,17173,NaN,51.6,NaN,0.1,NaN,0400000US12,Florida,12
11,10912876,NaN,-555555555,*****,10912876,NaN,-888888888,(X),5323951,NaN,...,NaN,9214,NaN,52.2,NaN,0.1,NaN,0400000US13,Georgia,13
12,1440196,NaN,-555555555,*****,1440196,NaN,-888888888,(X),725309,NaN,...,NaN,4534,NaN,49.3,NaN,0.2,NaN,0400000US15,Hawaii,15
13,1939033,NaN,-555555555,*****,1939033,NaN,-888888888,(X),976925,NaN,...,NaN,3100,NaN,50.1,NaN,0.1,NaN,0400000US16,Idaho,16
14,12582032,NaN,-555555555,*****,12582032,NaN,-888888888,(X),6229035,NaN,...,NaN,11354,NaN,51.3,NaN,0.1,NaN,0400000US17,Illinois,17
15,6833037,NaN,-555555555,*****,6833037,NaN,-888888888,(X),3392667,NaN,...,NaN,6480,NaN,51.1,NaN,0.1,NaN,0400000US18,Indiana,18
16,3200517,NaN,-555555555,*****,3200517,NaN,-888888888,(X),1607659,NaN,...,NaN,3618,NaN,50.2,NaN,0.1,NaN,0400000US19,Iowa,19
17,2937150,NaN,-555555555,*****,2937150,NaN,-888888888,(X),1473791,NaN,...,NaN,4300,NaN,50.2,NaN,0.2,NaN,0400000US20,Kansas,20
18,4512310,NaN,-555555555,*****,4512310,NaN,-888888888,(X),2233158,NaN,...,NaN,3993,NaN,51.1,NaN,0.1,NaN,0400000US21,Kentucky,21
19,4590241,NaN,-555555555,*****,4590241,NaN,-888888888,(X),2248146,NaN,...,NaN,4038,NaN,51.9,NaN,0.1,NaN,0400000US22,Louisiana,22
20,1385340,NaN,-555555555,*****,1385340,NaN,-888888888,(X),684557,NaN,...,NaN,1854,NaN,51.0,NaN,0.1,NaN,0400000US23,Maine,23
21,6164660,NaN,-555555555,*****,6164660,NaN,-888888888,(X),3004117,NaN,...,NaN,8889,NaN,52.2,NaN,0.1,NaN,0400000US24,Maryland,24
22,6981974,NaN,-555555555,*****,6981974,NaN,-888888888,(X),3419487,NaN,...,NaN,8896,NaN,51.8,NaN,0.1,NaN,0400000US25,Massachusetts,25
23,10034118,NaN,-555555555,*****,10034118,NaN,-888888888,(X),4979089,NaN,...,NaN,6935,NaN,50.9,NaN,0.1,NaN,0400000US26,Michigan,26
24,5717184,NaN,-555555555,*****,5717184,NaN,-888888888,(X),2869638,NaN,...,NaN,6225,NaN,50.1,NaN,0.1,NaN,0400000US27,Minnesota,27
25,2940057,NaN,-555555555,*****,2940057,NaN,-888888888,(X),1426689,NaN,...,NaN,2532,NaN,52.3,NaN,0.1,NaN,0400000US28,Mississippi,28
26,6177957,NaN,-555555555,*****,6177957,NaN,-888888888,(X),3046351,NaN,...,NaN,5800,NaN,51.2,NaN,0.1,NaN,0400000US29,Missouri,29
27,1122867,NaN,-555555555,*****,1122867,NaN,-888888888,(X),567273,NaN,...,NaN,2019,NaN,49.5,NaN,0.2,NaN,0400000US30,Montana,30
28,1967923,NaN,-555555555,*****,1967923,NaN,-888888888,(X),988837,NaN,...,NaN,3288,NaN,50.3,NaN,0.2,NaN,0400000US31,Nebraska,31
29,3177772,NaN,-555555555,*****,3177772,NaN,-888888888,(X),1599922,NaN,...,NaN,5784,NaN,49.9,NaN,0.2,NaN,0400000US32,Nevada,32
30,1395231,NaN,-555555555,*****,1395231,NaN,-888888888,(X),696786,NaN,...,NaN,2582,NaN,50.3,NaN,0.2,NaN,0400000US33,New Hampshire,33
31,9261699,NaN,-555555555,*****,9261699,NaN,-888888888,(X),4564704,NaN,...,NaN,11119,NaN,51.6,NaN,0.1,NaN,0400000US34,New Jersey,34
32,2113344,NaN,-555555555,*****,2113344,NaN,-888888888,(X),1047785,NaN,...,NaN,5421,NaN,50.7,NaN,0.2,NaN,0400000US35,New Mexico,35
33,19677151,NaN,-555555555,*****,19677151,NaN,-888888888,(X),9628899,NaN,...,NaN,17798,NaN,52.0,NaN,0.1,NaN,0400000US36,New York,36
34,10698973,NaN,-555555555,*****,10698973,NaN,-888888888,(X),5229792,NaN,...,NaN,8612,NaN,51.9,NaN,0.1,NaN,0400000US37,North Carolina,37
35,779261,NaN,-555555555,*****,779261,NaN,-888888888,(X),398845,NaN,...,NaN,2501,NaN,48.9,NaN,0.3,NaN,0400000US38,North Dakota,38
36,11756058,NaN,-555555555,*****,11756058,NaN,-888888888,(X),5810211,NaN,...,NaN,7575,NaN,51.1,NaN,0.1,NaN,0400000US39,Ohio,39
37,4019800,NaN,-555555555,*****,4019800,NaN,-888888888,(X),2004195,NaN,...,NaN,3554,NaN,50.9,NaN,0.1,NaN,0400000US40,Oklahoma,40
38,4240137,NaN,-555555555,*****,4240137,NaN,-888888888,(X),2121651,NaN,...,NaN,5814,NaN,50.6,NaN,0.1,NaN,0400000US41,Oregon,41
39,12972008,NaN,-555555555,*****,12972008,NaN,-888888888,(X),6399830,NaN,...,NaN,8869,NaN,51.2,NaN,0.1,NaN,0400000US42,Pennsylvania,42
40,1093734,NaN,-555555555,*****,1093734,NaN,-888888888,(X),535841,NaN,...,NaN,3513,NaN,51.9,NaN,0.3,NaN,0400000US44,Rhode Island,44
41,5282634,NaN,-555555555,*****,5282634,NaN,-888888888,(X),2569909,NaN,...,NaN,4687,NaN,52.1,NaN,0.1,NaN,0400000US45,South Carolina,45
42,909824,NaN,-555555555,*****,909824,NaN,-888888888,(X),462457,NaN,...,NaN,2291,NaN,49.4,NaN,0.3,NaN,0400000US46,South Dakota,46
43,7051339,NaN,-555555555,*****,7051339,NaN,-888888888,(X),3462618,NaN,...,NaN,6351,NaN,51.7,NaN,0.1,NaN,0400000US47,Tennessee,47
44,30029572,NaN,-555555555,*****,30029572,NaN,-888888888,(X),15021141,NaN,...,NaN,24849,NaN,50.6,NaN,0.1,NaN,0400000US48,Texas,48
45,3380800,NaN,-555555555,*****,3380800,NaN,-888888888,(X),1716117,NaN,...,NaN,5506,NaN,49.5,NaN,0.1,NaN,0400000US49,Utah,49
46,647064,NaN,-555555555,*****,647064,NaN,-888888888,(X),320698,NaN,...,NaN,1470,NaN,50.8,NaN,0.2,NaN,0400000US50,Vermont,50
47,8683619,NaN,-555555555,*****,8683619,NaN,-888888888,(X),4299314,NaN,...,NaN,7844,NaN,51.1,NaN,0.1,NaN,0400000US51,Virginia,51
48,7785786,NaN,-555555555,*****,7785786,NaN,-888888888,(X),3930411,NaN,...,NaN,9128,NaN,49.8,NaN,0.1,NaN,0400000US53,Washington,53
49,1775156,NaN,-555555555,*****,1775156,NaN,-888888888,(X),882101,NaN,...,NaN,2135,NaN,50.6,NaN,0.1,NaN,0400000US54,West Virginia,54
50,5892539,NaN,-555555555,*****,5892539,NaN,-888888888,(X),2958771,NaN,...,NaN,5761,NaN,50.3,NaN,0.1,NaN,0400000US55,Wisconsin,55
51,581381,NaN,-555555555,*****,581381,NaN,-888888888,(X),297855,NaN,...,NaN,1615,NaN,49.0,NaN,0.4,NaN,0400000US56,Wyoming,56
52,3221789,NaN,-555555555,*****,3221789,NaN,-888888888,(X),1528789,NaN,...,NaN,2767,NaN,53.4,NaN,0.1,NaN,0400000US72,Puerto Rico,72

In [2]:
population_2020_URL='https://api.census.gov/data/2020/dec/dhc?get=group(P1)&for=county%20subdivision:*&in=state:51&in=county:*'
pop_response = requests.get(population_2020_URL)
pop_response = pop_response.json()
pop_df=pd.DataFrame(pop_response)
pop_df.head()

,0,1,2,3,4,5,6
0,GEO_ID,NAME,P1_001N,P1_001NA,state,county,county subdivision
1,0600000US5100991500,"District 3, Amherst County, Virginia",6485,None,51,009,91500
2,0600000US5100791799,"District 5, Amelia County, Virginia",2655,None,51,007,91799
3,0600000US5100991200,"District 1, Amherst County, Virginia",6318,None,51,009,91200
4,0600000US5100991350,"District 2, Amherst County, Virginia",6076,None,51,009,91350